# Encoding / OHE

Q1. What is data encoding? How is it useful in data science?

Data encoding we use to convert the categorical features in a dataset to numeric values so that we can train our ML model.

Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

Nominal encoding, also known as one-hot encoding, is a technique used in data preprocessing and feature engineering for categorical variables in machine learning. It involves converting categorical data into a binary vector representation where each category is represented by a unique binary column. This technique is particularly useful when dealing with categorical variables that don't have a meaningful ordinal relationship between their values.

Here's an example of how nominal encoding could be used in a real-world scenario:

Example- Customer Segmentation for an E-commerce Platform

Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

It seems there might be a misunderstanding in terminology. Nominal encoding and one-hot encoding are often used interchangeably, as one-hot encoding is a specific form of nominal encoding.

Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding
technique would you use to transform this data into a format suitable for machine learning algorithms?
Explain why you made this choice.

One Hot Encoding Technique we used to convert this data into numeric data.
So that we can easily train our ML model.

Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns
are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to
transform the categorical data, how many new columns would be created? Show your calculations.

2 columns of categorical data 

Let us assume that we have unique feature in 
col1 is 5 
col2 is 10 


Total number of new columns form after performing encoding techniques = 5 + 10 = 15 columns

Q6. You are working with a dataset containing information about different types of animals, including their
species, habitat, and diet. Which encoding technique would you use to transform the categorical data into
a format suitable for machine learning algorithms? Justify your answer.

We are using One Hot encoding techniques to transform the cateogorical data into  format suitable for machine learning algorithms.

In [3]:
import pandas as pd

In [5]:
species = [ 'Loin', 'Elephant', 'Tiger' ]
habitat = [ 'Savanna', 'Jungle', 'Savanna' ]
Diet     = [ 'Carnivore', 'Herbivore', 'Carnivore' ]

df = pd.DataFrame( [ species , habitat , Diet ] , columns= [ 'Species', 'Habitat', 'Diet'] )

In [6]:
df.head()

     Species    Habitat       Diet
0       Loin   Elephant      Tiger
1    Savanna     Jungle    Savanna
2  Carnivore  Herbivore  Carnivore

In [7]:
## Apply one hot encoding technique 
from sklearn.preprocessing import OneHotEncoder

In [10]:
encoder = OneHotEncoder()

In [13]:
encoded = encoder.fit_transform( df[ [ 'Species', 'Habitat', 'Diet' ] ] )

In [16]:
pd.DataFrame( encoded.toarray() , columns= encoder.get_feature_names_out() )

,Species_Carnivore,Species_Loin,Species_Savanna,Habitat_Elephant,Habitat_Herbivore,Habitat_Jungle,Diet_Carnivore,Diet_Savanna,Diet_Tiger
0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

Q7.You are working on a project that involves predicting customer churn for a telecommunications
company. You have a dataset with 5 features, including the customer's gender, age, contract type,
monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical
data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.

In [19]:
df = pd.read_csv( "https://raw.githubusercontent.com/saritmaitra/Customer-Churn-analysis/master/data/Telco_Customer_Churn.csv")

In [20]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [21]:
## Applying OHE on above data set 

encoder = OneHotEncoder()

In [24]:
encoded = encoder.fit_transform( df[ [ 'gender',  'Dependents', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity'] ])

In [25]:
pd.DataFrame( encoded.toarray(), columns= encoder.get_feature_names_out() )

,gender_Female,gender_Male,Dependents_No,Dependents_Yes,PhoneService_No,PhoneService_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,InternetService_DSL,InternetService_Fiber optic,InternetService_No,OnlineSecurity_No,OnlineSecurity_No internet service,OnlineSecurity_Yes
0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
7039,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
7040,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
7041,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
7042,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0